WORKSPACE_NAME = '<YOUR_WORKSPACE>'
WORKSPACE_LOCATION = '<YOUR_LOCATION>'
RESOURCE_GROUP = '<YOUR_RESOURCE_GROUP>'
SUBSCRIPTION_ID = '<YOUR_SUBSCRIPTION_ID>'
TENANT_ID = '<YOUR_TENANT_ID>' # For Service Principal auth
SERVICE_PRINCIPAL_ID = '<YOUR_SERVICE_PRINCIPAL_ID>' # client-id For Service Principal auth
SERVICE_PRINCIPAL_PASSWORD = '<YOUR_SERVICE_PRINCIPAL_PASSWORD>' # client-secret For Service Principal auth
MODEL_NAME = '<YOUR_AZURE_ML_MODEL>' # Must be registered in your Azure ML Workspace
ENDPOINT_NAME = 'churn-prediction'
PORT = 8890